.bidesh{
    border: 10px dashed gold;
    border-radius: 12px;
    margin: 40px;
    margin-right: 550px;
    padding: 30px 30px;
    
}
.boro{
    font-size: x-large;
}
.pera{
   border: 20px solid rgba(148, 31, 184, 0.883);
   border-radius: 12px;
   margin: 45px;
   padding: 20px 30px;
   padding-right: 20px;
   width: 20%;
   /* float: left; */
   display: inline-block;

}
.high{
    text-align: center;
}
p{
    text-align: justify;
}  
.end{
    border: 10px solid rgba(148, 31, 184, 0.883);
    text-align: center;
    border-radius: 12px;
    width: 20%;
    margin-left: 607px;
} 